/* 导航菜单栏 */
.head[data-v-1c4d1eb2] {
    background-color: #0049B0;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    height: 20px;
}
.home_title[data-v-78aa1581] {
    height: 20px;
}
.system_icon[data-v-1c4d1eb2] {
    height: 20px;
}
.nav[data-v-1c4d1eb2] {
    line-height: 20px;
    font-size: 12px;
}
.system_name[data-v-1c4d1eb2] {
    font-size: 16px;
}
/* 页面上移动 */
.content_body {
    top: -35px;
}
/* 页面靠在左边 */
.content_body_container {
    left: 0px;
}
/* 右侧标题 */
.content_body_right_titleBox[data-v-6e4beb92] {
    font-size: 15px;
    margin-bottom: 0px;
}
/* 遮挡 */
.el-loading-mask {
    background-color: hsl(216, 0%, 100%);
}
/* 左上角搜索 */
.el-input-group__append,
.el-input-group__prepend {
    padding: 0px 0px;
    border-radius: 0px;
    border: 0px solid #409eff;
/*     font-size: 1px; */
/*     background-color: #0049B0; */
}
/* 搜索框输入框 */
.el-input--medium .el-input__inner {
    height: 20px!important;
}
.el-input__inner {
    padding: 0px 0px;
    border-radius: 0px;
}
.el-form-item__label {
    width: 120px;
    font-size: 12px;
}
.content_body_left_searchBox[data-v-6e4beb92] {
    margin-bottom: 0px;
}
.content_body_left_searchBox[data-v-6e4beb92] > div > input {
    color: #616161;
    font-weight: 500;
}
/* 左侧新建项目按钮&批次缓存队列搜索按钮 */
.el-button--medium {
    border-radius: 0px;
    padding: 2px 5px;
}
/* 搜索按钮框(左上角项目搜索) */
.el-input-group__append,
.el-input-group__prepend {
    border-radius: 0px;
    padding: 0px 0px;
}
.el-input-group__append .el-button {
    margin: 0px 1px;
    background-color: #0049B0;
}
.el-button--mini, .el-button--small {
    text-shadow: 0 0px 0 rgba(68, 67, 67, .08);
    box-shadow: 0 0px 0 #9cb8d8, 1px 2px 10px rgba(0, 0, 0, 0.3);
}
/* 左侧导航树 */
.content_body_left_crawl[data-v-6e4beb92] {
    width: 300px;
    margin-right: -40px;
}
.content_body_left_crawl .el-card__body,
.content_body_right_crawl .el-card__body {
    padding: 0px 0px;
}
.el-card__body .content_body_left_treeBox {
    padding-bottom: 160px;
}
.el-tree {
    margin-bottom: -160px;
}
.content_body_left_crawl .el-tree-node__content {
    height: 20px;
}
/* 左侧栏展开按钮 */
.menu_triangle_hover[data-v-6e4beb92] {
    background-color: #fff0;
    z-index: 1;
}
.menu_triangle[data-v-6e4beb92] {
    background-color: #67c23a;
    border: 1px solid #e64d4ae3;
    z-index: 10;
}
/* 右侧详情 */
.content_body_right_crawl[data-v-6e4beb92] {
    margin-right: -20px;
    margin-left: -100px;
}
/* 表格的表头  */
.planDetail_itemBox_content .el-table__body,
.planDetail_itemBox_content .el-table__header {
    /*     table-layout: fixed; */
    width: 100%;
    border: 1px solid green;
}
.planDetail_itemBox_content .el-table__header {
    display: none;
}
.planDetail_itemBox_content .el-table__header colgroup col:nth-child(1) {
    width: 200px;
}
.planDetail_itemBox_content .el-table__body colgroup col:nth-child(1) {
    width: 200px;
}
.el-table .cell {
    line-height: 18px;
    white-space: nowrap;
    /*     padding-left: 0px;
    padding-right: 0px; */
}
.el-table th {
    background: #dee1ec8c;
    color: #626060ed;
    font-size: 10px;
    padding: 5px 0px;
}
.el-table td {
    padding: 5px 0px;
}

/* 缩小全部字体 */
* {
    font-size: 12px;
}
.cell,
.el-form-item__label,
.el-input__inner,
#app,
.el-button--mini,
.el-button--small {
    font-size: 12px;
}
.el-select-dropdown__item {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 20px;
}
.nav {
    font-size: 12px;
}
.system_name {
    font-size: 12px;
}
.el-input--medium {
    font-size: 12px;
}
.content_body_right_titleBox[data-v-53aba0b5] {
    font-size: 12px;
    margin-bottom: 0px;
}
.collapseFieldset[data-v-53aba0b5] {
    padding: 0px;
    margin-top: 0px;
}
.collapseFieldset_title[data-v-53aba0b5] {
    font-size: 12px;
    padding: 1px;
}

/* 缩小导航树图标 */
.iconfont {
    font-size: 16px;
}

/* 不显示提示tip */
.el-tooltip__popper {
    padding: 2px 5px;
    display: none;
}
/* 状态码标签 */
.el-select__tags {
    transform: translateY(-120%);
    top: 100%;
}
.el-tag.el-tag--info .el-tag__close {
    color: #0049B0;
}
.el-select .el-tag__close.el-icon-close {
    background-color: #0049B0;
    right: -7px;
    top: 0;
    color: #DEEBFF;
}
.el-tag.el-tag--info .el-tag__close:hover {
    /*     color: #fff; */
    background-color: #0049B0;
}
.el-form-item__content {
    line-height: 37px;
}
/* 单选切换 */
.el-switch__core {
    height: 12px;
    border-radius: 0px;
}
.el-switch__core:after {
    top: 0px;
    border-radius: 0;
    background-color: #FAFAFA;
    width: 18px;
    height: 10px;
}
.el-switch.is-checked .el-switch__core:after {
    margin-left: -18px;
}
.el-switch.is-checked .el-switch__core {
    background-color: #0052cc;
}
/* 按钮 */
.el-button--mini,
.el-button--small {
    border-radius: 1px;
    border: 2px outset #FAFAFA;
}
.el-button--mini:hover,
.el-button--small:hover {
    border-color: #abb2bb;
}
.el-button--primary {
    background-color: #1976d2
}
/* 操作按钮 */
.planDetail_icon[data-v-ce0dab22],
.crawl_validatorTable_icon[data-v-72ba13d2],
.crawl_row_icon[data-v-2b5ddb2c],
.crawl_field_icon[data-v-210a2c10],
.crawl_row_icon,
.crawl_link_icon[data-v-0ae44de2] {
    margin: 0px 0px;
    outline: none;
    border: 1px outset #FAFAFA;

    /* 设置文字阴影 */
    text-shadow: 0 1px 0 rgba(68, 67, 67, .08);

    /* 设置盒子阴影 */
    box-shadow: 1px 1px 2px 0.5px #9cb8d8, 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.planDetail_icon[data-v-ce0dab22]:hover,
.crawl_validatorTable_icon[data-v-72ba13d2]:hover,
.crawl_row_icon[data-v-2b5ddb2c]:hover,
.crawl_field_icon[data-v-210a2c10]:hover,
.crawl_row_icon:hover,
.crawl_link_icon[data-v-0ae44de2]:hover {
    /*     background-color: #0049B0; */
    border-color: #0049B0;
    filter: blur(.1px) brightness(50%) opacity(.8);
}
.planDetail_icon[data-v-ce0dab22]:active,
.crawl_validatorTable_icon[data-v-72ba13d2]:active,
.crawl_row_icon[data-v-2b5ddb2c]:active,
.crawl_field_icon[data-v-2a4ae085]:active,
.crawl_row_icon:active,
.crawl_link_icon[data-v-0ae44de2]:active {
    border: -1px outset #e6e6e6;
    /* 设置文字阴影 */
    text-shadow: 0 1px 0 rgba(68, 67, 67, .08);

    /* 设置盒子阴影 */
    box-shadow: 0px 0px 0px 0px #9cb8d8, 2px 2px 3px rgba(0, 0, 0, 0.3);
}

/* 刷新按钮 */
.el-button--mini,
.el-button--small {
    outline: none;
    /*   color: #fbfbfb; */
    padding: 2px 2px;

    /* 设置文字阴影 */
    text-shadow: 0 1px 0 rgba(68, 67, 67, .08);

    /* 设置盒子阴影 */
    box-shadow: 0 1px 0 #9cb8d8, 1px 2px 10px rgba(0, 0, 0, 0.3);
}
/* 翻页按钮 */
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    border-radius: 0px;
}
/* 选项tag */
.el-tag--small {
    height: 15px;
    padding: 0px 0px 0px 2px;
    line-height: 0px;
    margin: 2px 2px 2px 2px;
}
.el-select .el-tag__close.el-icon-close {
    right: 0px;
    top: 0px;
    border: 1px groove #0049B0;
    font-size: 12px;
    line-height: 12px;
    height: 14px;
    width: 14px;
}
.el-select__input {
    margin-left: 5px;
    font-size: 12px;
}
/* 展开大于号 */
.el-table__expand-icon > .el-icon {
    margin-top: -5px;
}
/* 圈的圆角 */
.collapseFieldset[data-v-53aba0b5] {
    border-radius: 1px;
}
/* 下拉列表 */
.el-select-dropdown__wrap {
    max-height: 500px;
}

/* 下拉选项 */
.el-select-dropdown {
    border-radius: 0px;
}
/* 编辑文本区 */
.el-table__row {
    background-color: #fbe7e7;
}
/* 隐藏编辑器横向滚动条 */
.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
}
/* 文本框 */
.el-textarea__inner {
    border-radius: 0px;
    height: 40px;
    padding: 0px 0px;
}
/* 脚本编辑框 */
.CodeMirror-code {
    border: 1px groove #0049B0;
}
.CodeMirror pre {
    background: #ddeab863;
}
.CodeMirror-lines {
    padding: 2px 0;
}
.CodeMirror-scroll {
    background-color: #eae9e90f;
    word-break: break-all;
    overflow: hidden;
    word-wrap: normal;
}

/* xpath编辑换行 */
.CodeMirror {
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
    border: 2px solid #7f787c;
}

/* 日志搜索栏 */
.el-range-editor--small.el-input__inner {
    height: 23px;
}
.el-range-editor.el-input__inner {
    padding: 0px 8px;
}
.el-range-editor--small .el-range__icon {
    line-height: 23px;
}
.el-input--small .el-input__inner {
    height: 23px;
}


/* 通知 */
div.el-notification {
    top: 0;
    left: 50%;
}
.el-notification.right {
    background-color: #fe0;
    border: 5px solid #f00;
    color: #03ff1c;
}
.el-notification__closeBtn {
    color: #000;
}
.el-notification__content {
    color: #67c23a;
}
.el-notification .el-icon-success {
    color: #f00;
}
/* 页面下载配置的更多按钮 */
.download_switch[data-v-53da471f] {
    font-size: 12px;
}
/* 测试用例圈起来 */
.crawl_example_item {
    border: .7px solid #8e8e8e;
    background-color: #fff;
    border-radius: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* 测试用例的变量处 */
.el-form.el-form-item[data-v-6e4beb92].el-form-item__label {
    width: 120px;
}
/* 隐藏测试用例下的label*/
.crawl_example_item .el-row .el-form-item label {
    display: none;
}

/* 未知部分 */
.el-input__inner {
    padding: 1px 1px;
    border-radius: 1px;
}
.el-input--medium.el-input__inner {
    height: 25px!important;
}
textarea {
    overflow-wrap: break-word;
    /*     word-wrap: normal; */
}
.el-input-number__increase,
.el-input-number__decrease {
    width: 20px;
    height: 18px;
    top: 8px;
    line-height: 20px;
}
.el-input__inner {
    height: 25px;
}
fieldset {
    border: 2px;
    padding: 0px;
}

.CodeMirror {
    border: 2px solid #7f787c;
    overflow: auto;
}
.el-textarea__inner {
    padding: 0px 0px;
}
.nav[data-v-d65e295e] {
    line-height: 22px;
    padding: 0px 23px;
    margin-left: 0px;
}
.home_title[data-v-1116fa80] {
    height: 20px;
}

.system_icon[data-v-d65e295e] {
    width: 20px;
    height: 15px;
}
.home_body[data-v-1116fa80] {
    top: -45px;
}
.content_title h3 {
    color: transparent;
}
.content_body_container {
    left: 0px;
}
.el-tree-node__content > .el-tree-node__expand-icon {
    padding: 0px;
}
.content_title {
    padding: 25px 25px;
}
.el-button--small,
.el-button--small.is-circle {
    padding: 2px 2px;
}
.el-form-item {
    margin-bottom: 0px;
}