.cell,
.el-form-item__label,
.el-input__inner,
#app,
.el-button--mini,
.el-button--small {
    font-size: 12px;
}
.el-input__inner {
    padding: 1px 1px;
    border-radius: 1px;
}

.el-button--mini,
.el-button--mini.is-round {
    padding: 2px 2px;
}
.el-input--medium.el-input__inner {
    height: 25px!important;
}
/* 遮挡 */
.el-loading-mask {
    background-color: hsla(0, 0%, 0%, 0.9);
}
/* 导航 */
.head[data-v-d65e295e] {
    background-color: #42a5f5;
}
.nav[data-v-d65e295e] {
    color: #42a5f5;
}
.system_name[data-v-d65e295e] {
    color: #42a5f5;
}
/* 脚本编辑框 */
div.popup_container[data-v-caa78828] {
    top: -150px;
    right: 100px;
    color: #000;
}
.planDetail_testBox_log {
    height: 667px;
}
.CodeMirror-code {
    border: 1px groove #42a5f5;
}
.CodeMirror pre {
    background: #ddeab863;
}
.CodeMirror-lines {
    padding: 2px 0;
}
.CodeMirror-scroll {
    background-color: #eae9e90f;
}
/* 输入框 */
.el-input--medium .el-input__inner {
    height: 26px!important;
}
.el-form-item__label {
    width: 120px;
}
/* 日志 */
.planDetail_testBox_log[data-v-6ad9a6f3] {
    height: 600px;
}
/* 测试用例圈起来 */
.crawl_example_item {
    border: .2px dashed grey;
    background-color: #fff;
    border-radius: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
/* 隐藏宽label: 测试*/
label[for~="metavar"] {
    display: none;
}
/* 下拉选项 */
.el-select-dropdown {
    border-radius: 0px;
}
/* 测试用例的变量处 */
.el-form.el-form-item[data-v-b4618cf6].el-form-item__label {
    width: 120px;
}
/* 调整按钮圆角 */
.el-button--mini,
.el-button--small {
    border-radius: 1px;
    border: 2px outset #e6e6e6;
}
.el-button--mini:hover,
.el-button--small:hover {
    border-color: #abb2bb;
}
.el-button--mini,
.el-button--small {
  outline: none;
/*   color: #fbfbfb; */
  padding: 2px 2px;
  
  /* 设置文字阴影 */
  text-shadow: 0 1px 0 rgba(68, 67, 67, .08);
  
  /* 设置盒子阴影 */
  box-shadow: 0 1px 0 #9cb8d8, 1px 2px 10px rgba(0,0,0,0.3);
}
/* 调整圈的圆角 */
.collapseFieldset[data-v-53aba0b5] {
    border-radius: 1px;
}

div.popup_head[data-v-caa78828] {
    border-radius: 0px;
    background-color: rgb(232, 232, 232);
    width: 1300px;
    left: -50px;
}
div.popup_body[data-v-caa78828] {
    width: 1300px;
    height: 810px;
    left: -50px;
    background-color: #f0f0f0;
    border-radius: 0px;
}
.cm-s-default.CodeMirror {
    height: 800px;
}
div.planDetail_testBox_log[data-v-54e7e330] {
    height: 96%;
}

.el-table td,
.el-table th {
    padding: 5px 2px;
}
textarea {
    overflow-wrap: break-word;
}
.el-select-dropdown__item {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 20px;
}
/* 左侧新建项目按钮&批次缓存队列搜索按钮 */
.el-button--medium {
    border-radius: 0px;
    padding: 3px 3px;
}
/* 搜索按钮(左上角项目搜索) */
.el-input-group__append,
.el-input-group__prepend {
    border-radius: 0px;
}
/* 左上角搜索 */
.el-input-group__append,
.el-input-group__prepend {
    padding: 0px 20px;
}
/* 左侧栏展开按钮 */
.menu_triangle_hover[data-v-4884cb01] {
    background-color: #ebeef500;
}
.menu_triangle[data-v-4884cb01] {
    background-color: #67c23a;
    border: 2px solid #e64d4ae3;
    z-index: 1100;
}
/* 翻页按钮 */
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    border-radius: 0px;
}
/* 文本框 */
.el-textarea__inner {
    border-radius: 0px;
    height: 60px;
    padding: 0px 0px;
}
/*  */
.content_body_left_crawl .el-tree-node__content {
    height: 20px;
}
.el-notification.right {
    background-color: #fe0;
    border: 5px solid #f00;
    color: #03ff1c;
    border-radius: 0px;
}
div.el-notification {
    top: 0;
    left: 50%;
}

.el-input-number__increase,
.el-input-number__decrease {
    width: 20px;
    height: 20px;
    top: 7px;
    line-height: 25px;
}
.el-input__inner {
    height: 25px;
}
fieldset {
    border: 2px;
    padding: 0px;
}
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell,
.el-table .cell,
.el-table th div {
    padding-left: 0px;
    padding-right: 0px;
}
.CodeMirror {
    border: 2px solid #7f787c;
    overflow: auto;
}

.nav[data-v-d65e295e] {
    line-height: 22px;
    padding: 0px 23px;
    margin-left: 0px;
}
.home_title[data-v-1116fa80] {
    height: 20px;
}
.nav[data-v-d65e295e] {
    font-size: 14px;
}
.system_name[data-v-d65e295e] {
    font-size: 14px;
}
.system_icon[data-v-d65e295e] {
    width: 20px;
    height: 15px;
}
.home_body[data-v-1116fa80] {
    top: -45px;
}
.content_title h3 {
    color: transparent;
}
.content_body_left_crawl .el-card__body,
.content_body_right_crawl .el-card__body {
    padding: 0px 0px;
}
.content_body_container {
    left: 0px;
}
.iconfont {
    font-size: 14px;
}
.el-tree-node__content > .el-tree-node__expand-icon {
    padding: 0px;
}
.content_title {
    padding: 25px 25px;
}
.el-notification__closeBtn {
    color: #000;
}
.el-notification__content {
    color: #67c23a;
}
.el-notification .el-icon-success {
    color: #f00;
}
.el-button--small,
.el-button--small.is-round {
    padding: 2px 2px;
}

.content_body_left_crawl[data-v-7f4c9736] {
    width: 400px;
}
.content_body_right_crawl[data-v-7f4c9736] {
    left: 435px;
}
.el-form-item {
    margin-bottom: 0px;
}
.el-table__expanded-cell[class*=cell] {
    padding: 0px 0px;
}
.collapseFieldset[data-v-53aba0b5][data-v-50c22fc8] {
    padding: 0px;
    margin-top: 0px;
}
.el-table__row {
    background-color: #fbe7e7;
}
.el-table__body {
    width: 100%;
}
* {
    font-size: 12px;
}